{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="stories">
    <div class="story">
        <img class="story-image" src="{% static 'main/img/user1.png' %}" alt="김태관">
        <span>김태관</span>
    </div>
    <div class="story">
        <img class="story-image" src="{% static 'main/img/user1.png' %}" alt="손재성">
        <span>손재성</span>
    </div>
    <div class="story">
        <img class="story-image" src="{% static 'main/img/user1.png' %}" alt="김기원">
        <span>김기원</span>
    </div>
</div>
<div class="feed">
    {% for post in posts %}
    <div class="post">
        <div class="post-header">
            <img class="profile-picture" src="{% static 'main/img/user1.png' %}" alt="{{ post.user.username }} profile">
            <span>{{ post.user.username }}</span>
        </div>
        <div class="post-image">
            <img src="{{ post.image.url }}" alt="{{ post.caption }}">
        </div>
        <div class="post-footer">
            <div class="actions">
                <a href="#" class="like-btn" data-post-id="{{ post.id }}"><img src="{% static 'main/img/good.png' %}" alt="좋아요" class="action-icon"></a>
                <a href="#"><img src="{% static 'main/img/comment.png' %}" alt="댓글" class="action-icon"></a>
                <a href="#"><img src="{% static 'main/img/send.png' %}" alt="공유" class="action-icon"></a>
            </div>
            <div class="likes" id="likes-count-{{ post.id }}">
                <span>{{ post.likes.count }} likes</span>
            </div>
            <div class="comments">
                {% for comment in post.comments.all %}
                    <p><span>{{ comment.user.username }}</span> {{ comment.text }}</p>
                {% endfor %}
            </div>
            <div class="comment-form">
                <form action="{% url 'add_comment' post.id %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="text" placeholder="댓글 달기...">
                    <button type="submit">게시</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    document.querySelectorAll('.like-btn').forEach(item => {
        item.addEventListener('click', event => {
            event.preventDefault();
            let postId = event.currentTarget.dataset.postId;
            fetch(`/post/${postId}/like/`)
            .then(response => response.json())
            .then(data => {
                document.getElementById(`likes-count-${postId}`).innerText = `${data.likes_count} likes`;
            })
        })
    })
</script>
{% endblock %}
